
@{
    ViewData["Title"] = "ConfirmResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ResetPasswordViewModel
<div class=""  tabindex="-1" aria-hidden="true">
    <div class=" p-2 my-0 mx-auto" style="max-width: 950px;">
        <div class="">
            <div class=" px-0 py-2 py-sm-0">                
                <div class="row mx-0 align-items-center">                    
                    <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">                       
                        <form asp-action="ConfirmResetPassword" asp-controller="Account" method="post" class="needs-validation">
                            <input type="hidden" asp-for="TokenResetPassword" value="@Model.TokenResetPassword" />
                            <div class="mb-4">
                                <label class="form-label mb-2" for="signin-email">پست الکترونیکی</label>
                                <input asp-for="Email" name="Email" class="form-control" type="email" id="signin-email" placeholder="ایمیل خود را وارد کنید" required>
                            </div>
                            <div class="mb-4">

                                <div class="password-toggle">
                                    <input asp-for="Password" class="form-control" type="password" id="signin-password" placeholder="پسوورد خود را وارد کنید" required>
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>

                                <div class="password-toggle">
                                    <input asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" type="password" id="signin-password" placeholder="پسوورد خود را وارد کنید" required>
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg w-100" type="submit">تغییر رمز عبور</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

